Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
Flask-Mail
Flask-Admin<2.0.0
Gunicorn
psycopg2-binary
Werkzeug
Jinja2
itsdangerous
SQLAlchemy
Flask-SocketIO
requests
python-dotenv
google-genai
ultralytics
opencv-python
reportlab
faiss-cpu
sentence-transformers
pymupdf
numpy